.well.well-sm
  = bootstrap_form_for([@planning, @item], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8") do |f|
    %header
      %h2 增加项目
    %fieldset
      .form-group
        = f.text_field :name, label: "项目名称："
      .form-group
        = f.text_field :duration, label: "训练时长（分钟）："
      .form-group
        = f.text_field :result, label: "训练结果："
      .form-group
        = f.text_field :unit, label: "单位："
    %fieldset.actions.control-group.col-sm-offset-2
      .controls
        = f.submit "新增", class: "control-group col-sm-offset-2 btn btn-success"