%section.planning.container
  .row
    = render 'planning', planning: @planning
    = link_to "增加项目", new_planning_item_path(@planning), class: "btn btn-success"
    - if @planning.items.count > 0
      %table.table.table-condensed
        %thead
          %tr
            %th 已完成
            %th 项目名称
            %th 锻炼时长(分钟)
            %th 成绩
            %th 单位
            %th 保存
            %th 删除
        %tbody
          - @planning.unfinished_items.each do |item|
            = form_tag planning_item_path(@planning, item), method: :patch do
              %tr
                %td
                  = check_box_tag "item[finished]"
                %td
                  = text_field_tag "item[name]", item.name
                %td
                  = text_field_tag "item[duration]", item.duration
                %td
                  = text_field_tag "item[result]", item.result
                %td
                  = text_field_tag "item[unit]", item.unit
                %td
                  = button_tag do
                    %i.glyphicon.glyphicon-record
                %td
                  = link_to planning_item_path(@planning, item), method: :delete do
                    %i.glyphicon.glyphicon-remove

          - @planning.finished_items.each do |item|
            %%tr
              %td
                = check_box_tag "item[finished]", item.finished, item.finished, disabled: true
              %td
                = item.name
              %td
                = item.duration
              %td
                = item.result
              %td
                = item.unit